
/* Navigation Styles */
.navbar-inverse 
	background: #fff
	.navbar-toggle 
		border-color: none
		&:hover
			background: none
		.icon-bar 
			background: #17BED9

h1 
	font-size: 48px
	text-align: center
	margin: 100px 0 0 0

.lead
	text-align: center
